{% extends 'polls/base.html' %}
{% load static %}
{% block content %}

    {% for poll in polls %}
    <div class="container border rounded-lg p-3 w-50 mt-4">
        <div class="row">
            <div class="col-sm-8">
                <p>{{poll.question}}</p>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6 p-0 ">
                        <a href="{% url 'polls:vote' poll.id %}"><button class="btn btn-primary">Vote</button></a>
                    </div>
                    <div class="col-sm-6 p-0">
                        <a href="{% url 'polls:result' poll.id%}"><button class="btn btn-secondary">Result</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


    


{% endblock %}